:root {
    font-size: 80.5%;
}

/* Body */
body {
    font-family: serif;
}

/* header */
header {
    font-size: larger;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    background-color:#9A5C94;
}

/* Navigation ----------*/
nav ul {
    font-size: large;
    color: #9A5C94;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
nav li {
    margin: 0;
    padding: 5px;
}
a {
    color: #9A5C94;
}
/*Showcase alignments and padding*/

div#Showcase {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
div.artwork {
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    
}

div.artwork > img {
    border: 5px solid #9A5C94;
    border-radius: 10px;
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slogan {
    color: #b700a5;
   text-align: center;
   font-size: large;
}
